.alert {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    box-shadow: 0 10px 25px 0 $shadow;
    width: 100%;
    position: fixed;
    bottom: 0;
    transition: opacity 0.2s ease-in-out;
}

.alert.hidden {
    opacity: 0;
}

.alert.error {
    background-color: $red;
}

.alert.warning {
    background-color: $orange;
}

.alert.success {
    background-color: $green;
}

.alert.hidden {
    opacity: 0;
    pointer-events: none;
}

.alert+.alert {
    margin-top: 5px;
}

.alert--message {
    margin: auto;
}

.alert--cross {
    font-size: 14px;
    padding: 10px 15px;
    cursor: pointer;
}