.footer {
    padding: 20px 0;

    background-color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;

    @media(min-width: $min-sm) {
        height: 80px;
    }
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(min-width: $min-sm) {
        flex-direction: row;
    }
}