.header {
    padding: 20px 0;

    @media(min-width: $min-sm) {
        padding: 0;
    }
}

.header .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(min-width: $min-sm) {
        flex-direction: row;
        height: 80px;
    }
}

.header .container>a {
    align-self: center;
    text-decoration: none;
}

.header--logo {
    background-image: url('styles/images/logo.svg');
    background-repeat: no-repeat;
    height: 42px;
    width: 220px;
}

.header--menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px 0 0;
    padding: 0;

    @media(min-width: $min-sm) {
        justify-content: normal;
        margin: 0;
    }
}

.header--menu li:hover {
    @media(min-width: $min-sm) {}
}

.header--menu>li a {
    color: white;
}

.header--menu>li {
    display: flex;
    position: relative;
    text-align: center;
    color: white;

    display: flex;
    align-items: center;
    margin: 0 20px;

    font-size: 16px;
    font-weight: 500;

    @media(min-width: $min-sm) {
        padding: 0 22px;
        margin: 0;
    }
}

.header--menu li {

    @media(min-width: $min-sm) {}
}

.header--menu li:last-child {
    @media(min-width: $min-sm) {}
}

.header--menu a {
    text-decoration: none;
}

.header--menu .header--group {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media(min-width: $min-sm) {
        display: flex;
    }

    position: relative;
    cursor: pointer;
}

.header--menu .header--logout {
    @media(min-width: $min-sm) {
        display: none;
    }
}

.header .blocky {
    height: 50px;
    border-radius: 25px;

    vertical-align: middle;
}

.header--dropdown {
    background-color: $blue-dark;
    list-style: none;
    width: 100%;
    padding: 0;
    position: absolute;
    top: 100%;
    right: -1px;
    cursor: auto;
}

.header--dropdown li {
    padding: 9px 18px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}

.header--account {
    display: flex;
    flex-direction: row;
}

.header--account--right {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    font-size: 12px;
    margin-left: 15px;
    line-height: 20px;
}

.header--account--address {
    color: $light-grey;
}

.header--account--type::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    -moz-border-radius: 3.5px;
    -webkit-border-radius: 3.5px;
    border-radius: 3.5px;
    background-color: #3cbc98;
}