.section.networkStatistics {
    background-color: $blue-darkest;
    color: white;
}

.networkStatistics--title {
    font-size: 24px;
    font-weight: 500;
}

.networkStatistics--content {
    background-color: $blue-dark;
    padding: 30px;
    display: flex;
    flex-direction: row;

    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px;
}

.networkStatistics--content--column {
    flex-grow: 1;
    flex-basis: 0;
}

.networkStatistics--content--title {
    color: $mid-grey;
    font-size: 18px;
    font-weight: 500;
}

.networkStatistics--content--value {
    margin-top: 20px;
    font-size: 34px;
    font-weight: 500;
}

.networkStatistics--footnotes {
    color: $mid-grey;
    font-weight: 500;

    padding-top: 50px;
    border-bottom: 30px;
}