.not-found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-shadow: 2px 2px 14px black;
    font-size: 200px;
    font-weight: 900;
    color: white;
}