.overlay {
    display: block;
    background-color: rgba(140, 140, 140, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.popup::before {
    content: "";
    height: 10px;
    top: -10px;

    width: 100%;
    content: "";
    background-color: $blue-bright;

    position: absolute;
    left: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.popup {
    background-color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.popup h2,
.popup p {
    margin: 0;
}

.popup h2+* {
    margin-top: 10px;
}

.popup--buttons {
    margin-top: 15px;
}

.popup.open,
.popup.kyc {
    min-width: 300px;
}

.popup--buttons>*+* {
    margin-left: 15px;
}

.popup .popup--buttons+p {
    margin-top: 15px;
}

.popup.accounts h2 {
    text-align: center;
}

.popup.accounts .account--button {
    padding: 20px;
    width: 500px;
    height: 40px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
}

.popup.accounts .blocky {
    height: 40px;
}

.popup.accounts .account--left {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    margin-top: -20px;
    margin-left: -20px;
    float: left;
}

.popup.accounts .account--right {
    margin-top: -9px;
    padding-left: 20px;
    font-size: 15px;
    float: left;
}

.popup.approve .approve--list {
    list-style: none;
    margin: 15px 0 0;
    padding: 0;
}

.popup.approve .approve--list li {
    position: relative;
}

.popup.approve .approve--list li+li {
    margin-top: 5px;
}

.popup.approve .approve--list span.active {
    font-weight: 500;
}

.popup.approve .approve--tick {
    font-size: 16px;
    color: $green;
    margin-left: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.popup {
    .approve--loading {
        margin-top: 15px;
    }

    .approve--close {
        margin-top: 15px;
    }

    .atom--error {
        margin-top: 10px;
        color: $red;
    }

    .atom--success {
        color: green;
    }
}

.popup.atom button {
    width: 100%;
    margin-top: 10px;
}

.popup .sign--data {
    margin-top: 30px;
    margin-bottom: 30px;
}

.popup .sign--datum {
    background-color: $off-white;
    border: 1px solid $light-grey;
    padding: 10px;
    color: #333;
}

.popup .sign--datum+.sign--datum {
    border-left: none;
}

.popup .sign--button {
    margin-top: 15px;
}

// Open Order
.popup.open .open--tokens {
    display: flex;
    justify-content: center;
}

.popup.open .open--tokens div {
    position: relative;
}

.popup.open .open--tokens p {
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    white-space: nowrap;
}

.popup.open .open--arrow {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0 15px;
}

.popup.open img {
    background-color: white;
    border-radius: 100%;
    width: 50px;
    margin-bottom: 5px;
}

.popup.open .open--details {
    margin: 25px 0 15px;
}

.popup.open .open--details span {
    font-weight: 500;
}

.popup.open .open--confirm {
    @extend .styled-button;
}

.no-metamask {
    width: 450px;
}

.no-metamask h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

.no-metamask p {
    font-size: 16px;
    margin: 20px 0;
}

.no-metamask button {
    margin: 20px 0;
    min-width: 200px;
    font-size: 18px;
    height: 40px;
}

.no-metamask--logo {
    width: 110px;
    margin: 20px 0;
}