.sidebar {
    position: fixed;
    top: 0;
    border-right: 2px solid transparentize(#58585B, 1 - 0.2);
    padding: 30px 0;
    height: 100vh;
    overflow: scroll;

    overflow: scroll;
    overflow-x: hidden;
}

.sidebar ul {
    padding: 0;
}

.sidebar::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
.sidebar::-webkit-scrollbar-thumb {
    background: #FF0000;
}

$li-width: 42px;
$li-padding: 30px;

.sidebar .blocky {
    width: $li-width;
    border-radius: 20px;
}

.sidebar li {
    height: 80px;
    padding-left: $li-padding;
    padding-right: $li-padding;
    border-right: 4px solid rgba(0, 0, 0, 0);

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        border-right: 4px solid transparentize($blue-bright, 1 - 0.5);
    }
}

.sidebar li.sidebar--active {
    border-right: 4px solid $blue-bright;
}

.sidebar--nav {
    margin-bottom: 50px;
}

.sidebar--nav--icon {
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
    font-size: 30px;
    text-align: center;

    >* {
        width: 42px;
    }
}