// .sidebar ul {
//     padding: 0;
// }
$collapsed-width: 80px;
$full-width: 360px;
$mobile-full-width: 100vw;

.sidebar .blocky {
    width: 42px;
    border-radius: 50%;
}

.sidebar li {
    height: 100px;
    border-left: 4px solid rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: left;

    &:hover {
        border-left: 4px solid transparentize($blue-bright, 1 - 0.5);
        background-color: $blue-dark;
    }
}

.sidebar .sidebar--nav li {
    height: 50px;
}

.sidebar--nav {
    margin-bottom: 50px;
}

.sidebar--nav--icon {
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
    font-size: 30px;
    text-align: center;

    font-size: 2em;

    position: relative;
    display: table-cell;
    width: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.sidebar.sidebar--mobile--active {
    @media(max-width: $max-sm) {
        width: $mobile-full-width;
    }
}

.sidebar:hover {
    @media(min-width: $min-md) {
        width: $full-width;
        overflow-x: visible;
    }
}

.sidebar li.sidebar--active {
    border-left: 4px solid $blue-bright;
}

.sidebar li.sidebar--faded {
    >* {
        opacity: 0.4;
    }
}

.sidebar--icon {
    width: $collapsed-width - 4px * 2;
    margin-right: 4px;
    display: flex;
    justify-content: center;
}

.sidebar {
    @extend .no-scrollbar;
    position: fixed;
    background-color: $blue-darker;
    border-right: 2px solid transparentize(#58585B, 1 - 0.2);
    padding: 30px 0;
    top: 0;
    bottom: 0;
    left: 0;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    height: 100vh;
    width: $collapsed-width;

    @media(max-width: $max-sm) {
        width: 0px;
    }

    @media(max-width: $max-sm) {
        // This sets the faTimes symbol to be aligned with the faBars symbol
        padding-top: 17px;
    }

    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-transition: width .1s linear;
    transition: width .1s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 4;
}

.sidebar::-webkit-scrollbar {
    width: 0px; // remove scrollbar
    background: transparent;
}

.sidebar>ul {
    margin: 7px 0;
}

.sidebar li {
    position: relative;
    width: $full-width - 2px;

    @media(max-width: $max-sm) {
        // $mobile-full-width
        width: calc(100vw - 2px);
    }
}

.sidebar li a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;

    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0) scale(1, 1);

    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.sidebar .sidebar--text {
    width: $full-width - $collapsed-width;

    @media(max-width: $max-sm) {
        // $mobile-full-width - $collapsed-width
        width: calc(100vw - 80px);
    }

    font-weight: normal;
    font-size: 15px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: #FFFFFF;

    .sidebar--name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .sidebar--text--details {
        font-size: 12px;
        display: flex;

        >div {
            display: flex;
        }

        >div+div {
            margin-left: 20px;
        }
    }

    .sidebar--text--rewards {
        color: $green;
    }

    .sidebar--text--gas {
        color: $red;
    }

    .currency-symbol {
        font-weight: normal;
        mix-blend-mode: normal;
        opacity: 0.4;
        margin-left: 5px;
    }

    .currency-value {
        font-weight: bold;
    }

    .sidebar--text--icon {
        mix-blend-mode: normal;
        opacity: 0.4;
        margin-right: 10px;
    }
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}