$wallet-radius: 2px;

.section.wallets {
    padding: 50px 0;
}

.wallets--wrapper {
    @media(min-width: $min-md) {
        display: flex;
    }
}

.wallets--title {
    color: white;
    display: inline-block;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 50px;
}

.wallet--container {
    flex-grow: 1;
    flex-basis: 0;
    border-radius: $wallet-radius;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;

    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;

    cursor: pointer;
}

.wallet--container.disabled {
    cursor: not-allowed;
}

.wallet--container.disabled .wallet--details {
    pointer-events: none;
}

.wallet--container:not(.disabled):hover {
    box-shadow: rgba(0, 0, 0, 0.5) 6px 6px 20px;

    transform: scale(1.01);
}

.wallet--container+.wallet--container {
    margin-left: 0px;
    margin-top: 10px;

    @media(min-width: $min-md) {
        margin-left: 20px;
        margin-top: 0px;
    }
}

.wallet--container .loading {
    margin-top: 15px;
}

.wallet--details {
    background-color: white;
    height: 120px;
    width: 100%;
    padding: 15px 15px 30px 15px;

    .wallet--container.disabled & {
        background-color: $mid-grey;
    }
}

.wallet--title {
    font-size: 18px;
    display: inline-block;
    position: relative;
    text-align: left;
    margin-left: 30px;
    font-weight: 500;
}

.wallet--title:before {
    content: '';
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 25px;
    width: 22px;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);

    .wallet--container.disabled & {
        filter: grayscale(100%);
    }

    .wallet--container.metamask & {
        background-image: url($path + 'metamask.svg');
    }

    .wallet--container.ledger & {
        background-image: url($path + 'ledger.svg');
    }

    .wallet--container.trezor & {
        background-image: url($path + 'trezor.svg');
    }

    .wallet--container.keystore & {
        background-image: url($path + 'keystore.svg');
    }

    .wallet--container.key & {
        background-image: url($path + 'key.svg');
    }
}

.wallet--description {
    margin-top: 10px;
    margin-bottom: 0;
    position: relative;
    font-size: 14px;
}

.wallet--connect {
    background-color: $blue-bright;
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: 500;

    .wallet--container.disabled & {
        background-color: $dark-grey;
    }
}