.network-stats {

    >div {
        width: 100%;
        padding: 10px;
    }

    &.container {
        // max-width: 1900px;
        max-width: 2200px;
        display: flex;
        flex-flow: wrap;
    }

    .overview--bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        margin-top: 50px;

        >* {
            flex-grow: 1;
        }

        >canvas {
            width: 186px !important;
            height: 186px !important;
        }

        .overview--chart--outer {
            // background: linear-gradient(-180deg, #00457F -1080.14%, #002148 85.91%);
            border-radius: 4px;
            height: 400px;

            // min-width: 200px;

            flex: 1 1 0px;

            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: space-between;
        }

        .chart--tabs {
            cursor: pointer;
            width: 100%;
            // background: #1C2127;
            // box-sizing: border-box;
            margin: 0px;
            margin-bottom: 0;
            display: flex;

            padding: 0 0px;
        }

        .chart--tab {
            background: none;
            border: none;
            font-size: 14px;
            line-height: 16px;
            text-align: center;

            color: #9195A0;

            >span {
                opacity: 0.5;
            }

            width: 50%;
            transition: all 200ms;
            // border: 0px solid rgba(145, 149, 160, 0.1);
            border: 1px solid transparent;
            padding: 10px;
            border-bottom: 2px solid #001b39;
        }


        .chart--tab+.chart--tab {
            border-left: 2px solid #001b39;
        }

        .chart--tab--selected {
            border-bottom: 2px solid transparent;
            box-shadow: none;
            // background: #282C35;
            // border: 1px solid $primary;
            // box-sizing: border-box;
            // box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
            color: #E0E3EB;

            >span {
                opacity: 1;
            }
        }

        .volume--chart {
            @extend .overview--chart;
            width: 100%;
        }

        .overview--chart {
            flex: 1 1 0px;
            width: 100%;

            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            // width: 100%;
            // max-width: 40%;

            .overview--chart--legend {
                margin-top: 60px;
                width: 100%;
            }

            .overview--chart--legend--table {
                width: 100%;

                font-weight: 300;
                font-size: 12px;
                line-height: 27px;

                letter-spacing: 1.5px;

                background: #001327;
                border-radius: 4px;
                padding: 4px 20px;

                >div {

                    display: flex;
                    align-items: center;

                    >:first-child {
                        display: flex;
                        align-items: center;
                        font-weight: 500;

                        margin-right: 10px;

                        svg {
                            width: 14px;
                            margin-right: 10px;
                            margin-bottom: 3px;
                        }
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid #ffffff20;
                    }

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px 0;
                }

            }
        }
    }
}

/* Collateral */

// .collateral-stat {
//     .stat--title {
//         margin-bottom: 26px;
//     }
// }

.collateral-status {

    .info-label {
        height: 22px;
        margin-left: 5px;
    }

    .info-label--message {
        left: 5px;
    }

    .info-label--icon {
        width: 22px;
        height: 22px;
        margin-left: 0;
        margin-top: 0;

        // stroke: #4ED487 !important;
    }
}

.collateral-stats--top {
    margin-bottom: 80px;
}

/* Collateral Status */

.collateral-status {
    color: transparent;
    background-clip: text;
    display: flex;
    align-items: center;

    span {
        transition: all 600ms;
    }

    svg {
        margin-left: 5px;
    }

    .loading {
        height: 15px;
    }
}

.collateral-status--loading {
    opacity: 0;
}

.collateral-status--over {
    background: linear-gradient(270deg, #4ED487 0%, $green 50.12%, #48E0E0 100%);
    // Use semi-transparent text so that it shows up in Safari but doesn't
    // affect the gradient in other browsers.
    color: #4ED48744;
    background-clip: text;
}

.collateral-status--under {
    background: linear-gradient(270deg, #FF4545 0%, #E6499A 49.85%, #C849E6 100%);
    color: #FF454544;
    background-clip: text;
}

.collateral-status-outer {
    margin-top: 10px;

    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 68px;
}

.collateral-pre-status {
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

/* Collateral Bar Chart */

// .collateral-chart {
// margin-bottom: 30px;
// }

.collateral-chart--bar {
    height: 59px;
    border-radius: 6px;

    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;

    >div {
        display: flex;
        justify-content: flex-end;

        width: 0;
        transition: width 0.6s ease-in-out;
    }
}

.collateral-chart--label {
    color: #00172F;
    font-size: 18px;
    line-height: 21px;

    /* identical to box height */
    display: flex;
    align-items: flex-start;
    letter-spacing: 1.92857px;
    padding: 5px;

    &.collateral-chart--label--down {
        align-items: flex-end;
    }

    &.collateral-chart--label--right {
        margin-right: -25px;
    }
}

.collateral-chart--l {
    background: linear-gradient(270deg, #4ED487 0%, $green 50.12%, #48E0E0 100%);
    height: 100%;
    border-radius: 6px;
    z-index: 2;

    &.collateral-chart--l--under {
        background: linear-gradient(270deg, #FF4545 0%, #E6499A 49.85%, #C849E6 100%);
    }
}

.collateral-chart--b3 {
    height: 55px;
    background: #1F4873;
    z-index: 1;
}

.collateral-chart--b {
    height: 55px;
    background: #192D42;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.collateral-chart--b-line {
    height: 100%;
    border-right: 2px dashed #192D42;
    position: relative;
    left: 0;
    z-index: 4;
    position: absolute;
}

/* Collateral Table */

.collateral-table {
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -30px;
    padding-top: 60px;
    border-radius: 4px;

    &.collateral-table-greycore {
        padding-top: 0;
    }

    background: #001327;
}

.collateral-table--row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.collateral-table--row--left {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 1.5px;
    color: #FFFFFF;
}

.collateral-table--bullet {
    width: 19px;
    height: 19px;
    margin-right: 10px;
    border-radius: 100%;

    >div {
        width: 11px;
        height: 11px;
        margin: 4px;
        border-radius: 100%;
    }
}

.row--l {
    .collateral-table--bullet {
        background: linear-gradient(270deg, #4ED4871e 0%, #3CBC981e 50.12%, #48E0E01e 100%);
    }

    .collateral-table--bullet--inner {
        background: linear-gradient(270deg, #4ED487 0%, $green 50.12%, #48E0E0 100%);
    }

    &.row--l--under {
        .collateral-table--bullet {
            background: linear-gradient(270deg, #FF45454c 0%, #E6499A4c 49.85%, #C849E64c 100%);
        }

        .collateral-table--bullet--inner {
            background: linear-gradient(270deg, #FF4545 0%, #E6499A 49.85%, #C849E6 100%);
        }
    }
}

.row--b3 {
    .collateral-table--bullet {
        background: #1F48731e;
    }

    .collateral-table--bullet--inner {
        background: #1F4873;
    }
}

.row--b {
    .collateral-table--bullet {
        background: #192D421e;
    }

    .collateral-table--bullet--inner {
        background: #192D42;
    }
}

.collateral-table--row--right {

    &,
    >span {
        // @extend .monospace;
        font-family: "Courier New", Courier, monospace;
    }

    font-weight: 500;
    font-size: 12px;
    line-height: 29px;
    letter-spacing: 1.5px;
    color: #FFFFFF;
}

.collateral-table--row+.collateral-table--row {
    border-top: 1px solid #FFFFFF19;
}

.stat--extra-big>div {
    font-size: 42px;
}

// period-selector

.period-selector {
    display: flex;
    justify-content: flex-end;
}

.period-option {
    cursor: pointer;
    mix-blend-mode: normal;
    opacity: 0.4;
    border: 1px solid #006FE8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 29px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 13px;
    text-align: center;
    padding-top: 3px;

    color: #006FE8;

    margin-bottom: 6px;

    &+.period-option {
        margin-left: 5px;
    }


    &.period-option--selected {
        opacity: 1;
        border: 2px solid #006FE8;
    }
}

.stat-with-period {
    flex-grow: 1;
    flex-basis: 0;

    &+.stat-with-period {
        margin-left: 20px;
    }
}

// Stat Tabs

.stat-tabs {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 100px;
    border-bottom: 1px solid #1A2E46;
}

.stat-tab-option {
    cursor: pointer;
    mix-blend-mode: normal;
    opacity: 0.4;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    /* identical to box height */
    letter-spacing: 1.5px;
    text-transform: uppercase;

    color: #FFFFFF;


    text-align: center;
    padding-top: 3px;

    border-bottom: 1px solid $light-grey;
    padding: 10px 20px;
    // padding-bottom: 10px;

    &+.stat-tab-option {
        border-left: 1px solid $light-grey;

        &.stat-tab-option--selected {
            border-left: 1px solid #cccccc66;
        }

        // margin-left: 5px;
    }

    &.stat-tab-option--selected {
        opacity: 1;
        border-bottom: 4px solid #006FE8;
        padding-bottom: 8px;
        margin-bottom: -1px;
    }
}

.collateral-padding {
    height: 35px;
    width: 100%;

    @media (max-width: $max-lg) {
        display: none;
    }
}