.renvm {
    h1,
    h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;

        letter-spacing: 1.75px;
        text-transform: uppercase;
        color: #ffffff;
    }

    .block--row {
        animation: highlight 1s;
    }

    @keyframes highlight {
        0% {
            background: rgba(255, 255, 255, 0.05) !important;
        }

        100% {
            background: none;
        }
    }

    a {
        color: white;
        text-decoration: none;
    }

    .fade-enter {
        opacity: 0.01;
    }

    .fade-enter.fade-enter-active {
        opacity: 1;
        transition: opacity 0.6s ease-in-out;
    }

    .fade-exit {
        opacity: 1;
    }

    .fade-exit.fade-exit-active {
        opacity: 0.01;
        transition: opacity 0.3s ease-in-out;
    }

    table {
        font-size: 13px;

        thead {
            tr {
                border: none;
            }

            th {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 13px;
                line-height: 15px;
                color: #f9f9f9;
                width: auto;

                @media (min-width: $min-sm) {
                    min-width: 100px;
                }

                @media (min-width: $min-md) {
                    min-width: 150px;
                }

                @media (min-width: $min-lg) {
                    min-width: 200px;
                }
            }
        }

        .renvm--table--txs {
            width: 100%;
        }

        tbody > tr {
            cursor: pointer;
            height: 40px;
            border: none;
            background-color: #00000000 !important;

            &:hover:nth-child(odd) > td,
            &:hover > td {
                background: rgba(255, 255, 255, 0.05);
            }

            &:nth-child(odd) > td {
                background: rgba(100, 100, 255, 0.025);
            }
        }
    }

    .renvm--row {
        display: flex;
        margin-bottom: 30px;
        flex-wrap: wrap;

        > div {
            flex-grow: 1;
            min-width: 250px;

            &:not(:last-child) {
                margin-right: 20px;
            }
        }

        .renvm--stat {
            font-size: 32px;
            line-height: 37px;
            color: #f9f9f9;
        }
    }

    .block--txs--td {
        overflow: hidden;
        max-width: 300px;
    }

    .block--txs {
        @extend .no-scrollbar;
        display: flex;
        overflow-y: scroll;
    }

    .block--tx {
        border-radius: 10px;
        border: 1px solid white;
        padding: 3px 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
            margin-right: 5px;
        }

        .token--icon {
            margin: 0 3px;

            &:last-child {
                margin-right: 0;
            }
        }

        .token--icon > path {
            width: 10px;
            height: 10px;
        }
    }

    .block--txs--none {
        opacity: 0.3;
    }

    .titled-block {
        margin-bottom: 30px;

        .no-transactions {
            margin-top: 20px;
        }

        .titled-block--bottom {
            tr,
            thead,
            td {
                background: none;
            }

            th:first-child,
            td:first-child {
                padding-left: 20px;
            }
        }
    }
}

.titled--x {
    position: absolute;
    $size: 12px;
    right: ((55px - $size) / 2);
    top: ((55px - $size) / 2);
    height: $size;
    width: $size;
    background: url("../../../styles/images/exit-black.svg");
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center center;

    margin-top: -5px !important;
    margin-right: -5px !important;
    padding: 10px !important;
    z-index: 1;

    cursor: pointer;
}

.titled--x.titled--x--white {
    margin-top: -5px !important;
    background-image: url("../../../styles/images/exit.svg");
}

.renvm--transaction {
    table {
        text-overflow: ellipsis;
        table-layout: fixed;

        td {
            cursor: default;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    a {
        text-decoration: underline;
        font-style: italic;
    }

    .block--tx {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 40px;
        width: 100%;

        .block--tx--span {
            @extend .monospace;

            font-weight: 900;
            margin-left: 5px;
        }
    }
}
