.map {
    // display: flex;

    hr {
        color: white;
        margin-bottom: 10px;
        border-width: 0.5px;
    }

    .map--world--outer {
        display: flex;
    }

    .map--world {
        width: 100%;
        max-width: 980px;
        margin: 0 auto;
    }

    circle {
        fill: #87C0FF;
        filter: drop-shadow(0px 0px 5px rgba(135, 192, 255, 0.9));
    }

    h2 {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;

        /* identical to box height */
        letter-spacing: 1.75px;
        text-transform: uppercase;

        color: #FFFFFF;

    }
}