$select-input-bg-focus: $off-white;
$select-input-border-radius: 0;
$select-input-box-shadow-focus: none;
$select-input-height: 40px;
$select-padding-horizontal: 15px;
$select-menu-max-height: 300px;
$select-option-focused-bg: darken($off-white, 3%);
$select-option-selected-bg: $off-white;

* {
    box-sizing: border-box;
}

html {
    &.noscroll {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    min-height: 100%;
    background: linear-gradient(180deg, #00162f 0%, #001b39 100%);
    background: $blue-darker;
    background-attachment: fixed;
}

* {
    font-family: "SuisseIntl", Helvetica, Arial, sans-serif;
}

body {
    font-size: 12px;
    margin: 0;
    color: white;
    margin-bottom: 60px !important;
}

h1 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
}

p {
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 15px;
}

a {
    color: black;
}

label {
    display: block;
}

input[type="number"],
input[type="text"],
input[type="password"] {
    border: 1px solid $light-grey;
    height: 35px;
    padding: 0 8px;

    &:disabled {
        color: $mid-grey;
    }

    &:focus {
        outline: none;
    }
}

input[type="checkbox"] {
    margin: 0 5px 0 0;
    vertical-align: middle;
}

::-webkit-input-placeholder {
    color: $mid-grey;
}

::-moz-placeholder {
    color: $mid-grey;
}

:-ms-input-placeholder {
    color: $mid-grey;
}

:-moz-placeholder {
    color: $mid-grey;
}

select {
    background-color: white;
    border: 1px solid $light-grey;
    border-radius: 0;
    height: 35px;
    padding: 0 10px;
    appearance: none;
}

select:focus {
    background-color: $off-white;
    outline: none;
}

button {
    color: $dark-grey;
    background-color: white;
    border: 1px solid $light-grey;
    height: 35px;
    min-width: 120px;
    position: relative;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:disabled {
    color: $mid-grey;
    cursor: not-allowed;
}

button:not(:disabled):hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

// button:not(:disabled):active {
//     background-color: $off-white;
// }

button .loading:after {
    height: 12px;
    width: 12px;
    border-width: 1px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table tbody tr:nth-child(even) {
    background-color: white;
}

table tbody tr:nth-child(odd) {
    background-color: $off-white;
}

table tr {
    border: 1px solid $light-grey;
}

table th,
table td {
    height: 35px;
    padding: 0 10px;
    text-align: left;
    white-space: nowrap;
}

table th {
    font-weight: 500;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

$spacing: 90px;

.container {
    width: 100%;
    max-width: 1400px + $spacing * 2;
    margin: 0 auto;
    padding: 0 $spacing + 60px;

    @media (max-width: $max-xl) {
        padding-right: 10px;
        padding-left: $spacing + 10px;
    }

    @media (max-width: $max-md) {
        padding: 0 10px;
    }
}

// .without-account .container {
//     padding: 0 $spacing+10px;

//     @media (max-width: $max-xl) {
//         padding-right: 0 $spacing+10px;
//     }

//     @media (max-width: $max-md) {
//         padding: 0 10px;
//     }
// }

svg.icon {
    margin-right: 5px;
}

.button.button--dark {
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 4px;
    background: none;
}

.section {
    padding: 60px 0;
}

.section:first-child {
    padding-top: 30px;
}

.section:last-child {
    padding-bottom: 60px;
}

.monospace {
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0.5px;
}

.red {
    color: $red;
}

.green {
    color: $green;
}

.blue {
    color: $blue-bright;
}

.orange {
    color: $orange;
}

span[role="button"],
label {
    user-select: none;
}

.table--wrapper {
    display: block;
    overflow-x: auto;
}

.truncate {
    overflow-x: hidden;
    text-overflow: ellipsis;
    max-width: 250px;

    @media (min-width: $min-sm) {
        max-width: none;
    }
}

.blue-box {
    padding: 30px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px;
}

.dark-blue-box {
    @extend .blue-box;

    background-color: $blue-dark;
}

.darker-blue-box {
    @extend .blue-box;

    background-color: $blue-darker;
}

.scrollable {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.scrollable::-webkit-scrollbar {
    /* remove scrollbar space */
    width: 0px;
}

.no-underline {
    text-decoration: none;
}

.checkbox {
    appearance: initial;
    width: 20px;
    height: 20px;
    border: none;
    background: white;
    position: relative;
    border: 1px solid #eee;
    float: left;
}

.checkbox:checked:after {
    content: "✔";
    color: $green;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.checkbox--error:checked:after {
    content: "✘";
    color: $red;
}

.no-scrollbar {
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        /* remove scrollbar space */
        display: none;
        width: 0px;
        height: 0px;
    }
}

.app--body {
    margin-top: 150px;
    margin-bottom: 60px;
}

.mobile-only {
    @media (min-width: $min-lg) {
        display: none !important;
    }
}

.no-mobile {
    @media (max-width: $max-md) {
        display: none !important;
    }
}

.large-only {
    @media (max-width: $max-lg) {
        display: none !important;
    }
}

.no-large {
    @media (min-width: $min-xl) {
        display: none !important;
    }
}

.no-spin-button {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
}