.block {
    @extend .no-scrollbar;
    overflow-y: scroll;
    flex-grow: 1;
    background-color: $blue-dark;
    border-radius: 4px;
    padding: 0;
    flex-basis: 0;

    height: 600px;

    display: flex;
    flex-direction: column;

    // box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.1);
    // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

    &.basic {
        cursor: pointer;
    }
}

.block--title .svg-inline--fa {
    margin-top: -2px;
    margin-right: 10px;
    font-size: 1.5em
}

.block--title svg {
    margin-bottom: -3px;
    margin-right: 10px;
    font-size: 1.5em
}

.block--body {
    flex-grow: 2;
}

.block--title {
    display: flex;
    justify-content: left;
    margin: 18px 20px;

    >h3 {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        margin: 0;

        font-style: normal;
        font-weight: bold;

        /* identical to box height */
        letter-spacing: 1.75px;
        text-transform: uppercase;

        color: #FFFFFF;



        svg {
            height: 18px;
        }
    }
}

.block--advanced {
    flex-grow: 2;
    margin: 10px 0;

    // height: 100%;
    display: flex;
    flex-direction: column;
}

.block--advanced--top {
    padding: 0 22px;
}

.block--advanced--bottom {
    @extend .scrollable;
    @extend .no-scrollbar;
    margin-top: 10px;
    width: 100%;
    flex-grow: 1;
}

/**** GAS BLOCK *****/

.gas-block {
    flex-grow: 1 !important;
    // color: $red;
}

.gas-block--advanced--value {
    font-size: 38px;
}

.gas-block--advanced--unit {
    margin-left: 3px;
    font-size: 22px;
    opacity: 0.6;
}


/**** FEES BLOCK *****/

.fees-block {
    .block--advanced--bottom {
        border-top: 2px solid $blue-darker;
        background: #001F41;
        // height: 100%;
    }

    .block--advanced--top {
        .fees-block--total {
            margin-bottom: 40px;
        }

        .button {
            margin-bottom: 50px;
            width: 170px;
        }
    }

    .tabs--outer {
        display: flex;
        flex-flow: column;
    }

    .block--advanced {
        margin: 0;
    }
}

.fees-block--advanced--value {
    font-size: 48px;
}

.fees-block--advanced--unit {
    margin-left: 3px;
    font-size: 24px;
    opacity: 0.6;
}

.fees-block--advanced--sign {
    font-size: 36px;
    opacity: 0.6;
    margin-right: 3px;
    margin-left: 0;
}

.fees-block--table tbody tr:nth-child(odd),
.fees-block--table tbody tr:nth-child(even) {
    background: none;
    background-color: none;
    border: none;
}

.tabs--outer {
    width: 100%;
}

.block--advanced--claim {
    // TODO: Look into stylings being overridden
    background: none !important;
    color: white !important;
    border: 1px solid white !important;
    width: initial !important;
    padding-left: 20px !important;
    padding-right: 20px !important;

    .svg-inline--fa {
        margin-right: 2px;
        font-size: 12px;
    }
}

.fees-block--table {

    thead {
        tr {
            border: none;
        }

        tr td:first-child {
            padding-left: 20px;
        }
    }

    tbody {
        tr:hover td {
            background-color: rgba(255, 255, 255, 0.05);
        }

        tr td:first-child {
            padding-left: 20px;
        }

        tr td:last-child {
            padding-right: 40px;
        }

        td {
            color: white;
            font-size: 14px;
            font-weight: 400;
            padding: 10px 0;
            padding-bottom: 14px;
        }
    }

    .percent-bar {
        &.BTC {
            background: #F2A900;
        }

        &.ZEC {
            background: #FABB00;
        }

        &.BCH {
            background: #44C43E;
        }

        &.ETH {
            background: #4A45AD;
        }

        &.DAI {
            background: #006FE8;
        }
    }

    .fees-block--table--token {
        align-items: left;

        svg {
            margin-bottom: -6px;
        }
    }

    .tr {

        &,
        td {
            padding-top: 30px;
            color: $green;
            color: white;
            font-size: 18px;
            text-align: left;
        }

        &:hover,
        td:hover {
            background: initial;
        }
    }

    button {
        border: none;
        background: none;
        color: white;
        min-width: auto;
        font-size: 14px;
        font-weight: 100;

        padding-right: 0;
        margin-right: 0;
        float: right;

        svg.svg-inline--fa {
            padding-right: 0;
            margin-right: 0;
        }
    }

    .fees-block--table--value {
        font-weight: 500;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .fees-block--table--usd {
        font-size: 14px;
        text-align: right;
        // color: $green;
    }

    .fees-block--table--usd-symbol {
        opacity: 0.6;
    }

    .fees-block--table--icon {
        width: 20px;
        margin-right: 10px;
    }
}

.resources-block {
    margin-top: 0 !important;
    border: 2px solid #001B3A;
}

.epoch--block--charts {
    @extend .resources--block--charts;
    margin-top: 10px;
}

.epoch-chart {
    svg {
        height: 100px;
    }
}

.epoch-chart--small {
    svg {
        height: 60px;
    }
}

.epoch--block--charts--small {
    justify-content: flex-start !important;
    flex: 1 !important;
    max-width: 600px;
}

.epoch-right {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;

    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;

        /* identical to box height */

        color: #F9F9F9;
    }

    p:last-child {
        font-size: 14px;
    }
}

.network-block {
    flex-grow: 1 !important;


    .network-block--info {
        @extend .no-scrollbar;

        width: 100%;
        overflow: scroll;
    }

    .darknode-info {
        font-size: 14px;

        tr {
            background: none;
            border: none;
        }

        td+td {
            @extend .monospace;
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 0px;
        }

        td {
            padding: 0;
            padding-right: 5px;
        }

        tr td:first-child {
            font-weight: 900;
        }
    }

    .darknode-info--title {
        font-weight: bold;
        margin-bottom: 5px;
    }

}

.version-block {
    @extend .network-block;

    flex-grow: 1 !important;

    .block--advanced--bottom {
        border-top: 2px solid $blue-darker;
        background: #001F41;
        height: 100%;
        padding: 30px 0;
    }

    .version-block--status {
        display: flex;
        padding: 20px;
        align-items: center;

        font-weight: 500;
        font-size: 28px;

        .status-dot {
            margin-right: 10px;
        }
    }
}

.network-block--info {
    padding: 0 22px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.gas-block .block--body {
    padding: 0 22px;
}

.fees-block .block--body {
    display: flex;
}




/* Gas Graph */

.gas-graph {
    color: $red;
}

.gas-graph .block--body {
    display: flex;
    flex-direction: column;
    padding: 0 40px;

    canvas {
        width: 100% !important;
        height: 150px !important;
    }

    .graph-placeholder {
        width: 100% !important;
        height: 150px !important;
    }
}

.gas-graph--times {
    display: flex;
    margin-top: 5px;

    button {
        background: none;
        border-top: none;
        border-left: none;
        border-right: none;
        color: rgba(255, 255, 255, 0.4);
        font-weight: bold;
        font-size: 12px;
        min-width: initial;

        text-align: center;
        flex-grow: 1;
        border-bottom: 5px solid rgba(240, 240, 240, 0.05);
    }

    .selected {
        border-bottom: 5px solid $red;
        cursor: default;
    }
}

.tabs {
    @extend .no-scrollbar;

    border-bottom: 2px solid #001B3A;
    display: flex;
    flex-flow: row;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 22px;

    overflow-y: scroll;
    margin-top: 10px;

    .tab {
        margin-bottom: 0px;
        background: none;
        border: none;
        font-weight: 100;
        cursor: pointer;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 10px 20px;

        font-weight: bold;
        font-size: 14px;
        line-height: 16px;

        /* identical to box height */
        text-transform: uppercase;

        color: #FFFFFF66;

        &.selected {
            color: white;
            border-bottom: 2px solid #006FE8;
        }

        &:focus {
            outline: 0;
        }
    }
}

.withdraw-fees-disabled {
    &:hover:after {
        position: absolute;
        top: 5px;
        left: -312px;
        width: 300px;
        content: attr(title);
        padding: 5px;
        background-color: #19324E;
        border-radius: 4px;
        line-height: 1.4em;
        color: $red;
        font-weight: 600;
        border: 1px solid $red;
    }
}