.header {
    background: $blue-darker;
    padding: 0 !important;
    margin-bottom: 20px;
    z-index: 6;
    border-bottom: 1px solid #1a2e46;
    display: flex;
    justify-content: space-between;
    padding-left: 80px !important;

    @media (max-width: $max-md) {
        padding-left: 0 !important;
    }

    flex-direction: row;
    height: 48px !important;
}

// .without-account .header {
//     padding-left: 0 !important;
// }

.header .container>a {
    align-self: center;
    text-decoration: none;
}

.header--logo {
    border-radius: 0 !important;
    background: url("../images/logo.svg") center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    height: 48px !important;
    width: 48px;
    padding: 9px 40px !important;

    @media (min-width: $min-lg) {
        border-right: 1px solid #1a2e46 !important;
    }
}

.header--menu {
    display: flex;
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
    justify-content: flex-end;
    width: auto !important;
    // width: 0 !important;

    // @media (min-width: $min-lg) {
    //     width: 500px;
    // }

    margin: 0;
}

.header--menu li:hover {
    @media (min-width: $min-sm) {}
}

.header--menu>li a {
    color: white;
}

.header--menu>li {
    display: flex;
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16px;
    font-weight: 500;

    @media (min-width: $min-sm) {
        // padding: 0 22px;
        margin: 0;
    }
}

.header--menu li {
    @media (min-width: $min-sm) {}
}

.header--menu li:last-child {
    @media (min-width: $min-sm) {}
}

.header--menu a {
    text-decoration: none;
}

.header--menu .header--logout {
    @media (min-width: $min-sm) {
        display: none;
    }
}

.header .blocky {
    height: 30px;
    border-radius: 25px;
    vertical-align: middle;
    margin-right: 15px;
}

.header--dropdown--alt {
    padding: 0;
    position: absolute;
    top: 100%;
    cursor: auto;
}

.header--dropdown--alt li {
    padding: 9px 20px;
    cursor: pointer;
    font-weight: 500;
    line-height: normal;
    font-size: 12px;
    color: #58585b;
}

.header--dropdown--option {
    min-width: 100%;
    max-width: 100%;
}

.header--dropdown .header--dropdown--highlight {
    color: $blue-bright;

    &:hover,
    &:active {
        color: $blue-bright;
    }
}

.header--account {
    display: flex;
    flex-direction: row;

    &.header--account--logged-out {
        padding-left: 0 !important;
    }
}

.header--account--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    line-height: 20px;

    &.header--account--connected {
        @extend .no-mobile;
    }
}

.header--account--type::before {
    content: none !important;
}

.header--account.header--selected .header--account--address {
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;

    color: #FFFFFF;
    opacity: 0.6 !important;
}

.header--account--type {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
}

.header--selected {
    color: white !important;
    border: 0 !important;
    font-weight: 500 !important;
    border-left: 1px solid #1a2e46 !important;
    border-right: 1px solid #1a2e46 !important;

    :last-child {
        opacity: 1 !important;

        path {
            opacity: 1 !important;
            fill: white !important;
            stroke: white !important;
        }
    }
}

.header--selected--icon {
    margin-right: 8px;
}

.header--mobile-menu--button {
    @extend .mobile-only;

    width: 0px;
    height: 100%;
    display: flex;
    align-items: center;

    button {
        background: none;
        border: none;
        color: white;
        font-size: 20px;
        min-width: 0;

        // Based on measurements for right side of menu
        margin-left: 22px + 15px;

        @media (max-width: $max-xs) {
            margin-left: 22px;
        }
    }
}

.header--dropdown--accounts {
    width: 200px;
}

.header--group>div {
    height: 48px;
    border-radius: 0;
    margin: 0;
    padding: 0 25px;
}

.header--group:not(.header--group--account) {
    @extend .no-mobile;
}

.header--group--active {
    border-bottom: 3px solid $blue-bright !important;
}

.transaction {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 14px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    div {
        margin-right: 10px;
    }

    >.lds-dual-ring::after {
        border-width: 1px;
    }

    a.transaction--hash {
        color: $blue-bright;
    }
}

.transaction+.transaction {
    margin-top: 0;
}

.header--account--spinner {
    margin-left: 10px;
}

.network--banner {
    box-shadow: $blue-darker 0px 10px 10px;
    top: 0;
    width: 100%;
    background-color: $red;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;

    .banner--bold {
        font-weight: 900;
        margin: 0 5px;
    }
}

.with-banner--main {
    .network--banner {
        background-color: $green;
        color: $blue-dark;
    }
}

.with-banner {
    $top: 22px;

    .header {
        margin-top: $top;
    }

    .popup--container {
        top: $top;
    }

    .sidebar {
        top: $top;
        height: calc(100vh - #{$top});
    }
}

.wallet-icon {
    width: 45px;
    height: 48px;
    background: #006FE8;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;

    .wallet-icon--inner {
        background: url('../../styles/images/wallet.svg');
        height: 18px;
        width: 21px;
        margin-right: -2px;
    }
}

.header--group--search {
    flex-grow: 1;

    form {
        width: 100%;
    }
}

.header--search--input {
    @extend .sidebar--search--input;
    @extend .header--selected;
    @extend .monospace;

    cursor: text !important;

    border-left: 1px solid #1a2e46 !important;
    border-right: 1px solid #1a2e46 !important;
    border-radius: 0 !important;
    margin: 0 !important;

    height: 51px !important;

    background: transparent !important;
    color: white;
    width: 100%;
    min-width: 0 !important;

    &:focus {
        border-left: 1apx solid $blue-bright !important;
        border-right: 1px solid $blue-bright !important;
    }

    &.header--search--404 {
        border-color: $red !important;
        color: $red !important;
    }
}

.new {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .new-new {
        border-radius: 4px;
        padding: 4px 10px;
        background-color: #fff;
        color: $blue-dark;
        text-transform: uppercase;
        font-weight: 600;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 12px;
    }

    .new-blue {
        color: $blue-bright;
        font-size: 12px;
    }
}