.header {
    padding: 10px 0;
    margin-bottom: 20px;
    z-index: 6;
}

.header .container {
    display: flex;
    justify-content: space-between;

    flex-direction: row;
    height: 80px;
}

.header .container>a {
    align-self: center;
    text-decoration: none;
}

.header--logo {
    background-image: url('images/logo.svg');
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
}

.header--counter-weight {
    width: 200px;

    @media(min-width: $min-md) {
        width: 500px;
    }
}

.header--menu {
    display: flex;
    list-style: none;
    margin: 20px 0 0;
    padding: 0;

    justify-content: flex-end;

    width: 200px;

    @media(min-width: $min-md) {
        width: 500px;
    }

    margin: 0;
}

.header--menu li:hover {
    @media(min-width: $min-sm) {}
}

.header--menu>li a {
    color: white;
}

.header--menu>li {
    display: flex;
    position: relative;
    text-align: center;
    color: white;

    display: flex;
    align-items: center;
    margin: 0 20px;

    font-size: 16px;
    font-weight: 500;

    @media(min-width: $min-sm) {
        padding: 0 22px;
        margin: 0;
    }
}

.header--menu li {
    @media(min-width: $min-sm) {}
}

.header--menu li:last-child {
    @media(min-width: $min-sm) {}
}

.header--menu a {
    text-decoration: none;
}

.header--menu .header--logout {
    @media(min-width: $min-sm) {
        display: none;
    }
}

.header .blocky {
    height: 50px;
    border-radius: 25px;

    vertical-align: middle;

    margin-right: 15px;
}

.header--dropdown--alt {
    padding: 0;
    position: absolute;
    top: 100%;
    cursor: auto;
}

.header--dropdown--alt li {
    padding: 9px 20px;
    cursor: pointer;

    font-weight: 500;
    line-height: normal;
    font-size: 12px;
    color: #58585B;
}

.header--dropdown .header--dropdown--highlight {
    color: $blue-bright;

    &:hover,
    &:active {
        color: $blue-bright;
    }
}

.header--account {
    display: flex;
    flex-direction: row;
}

.header--account--right {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    font-size: 12px;
    line-height: 20px;

    &.header--account--connected {
        @extend .no-mobile;
    }
}

.header--account--address {
    color: $light-grey;
}

.header--account--type::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    -moz-border-radius: 3.5px;
    -webkit-border-radius: 3.5px;
    border-radius: 3.5px;
    background-color: #F45532;
    margin-top: 5px;
}

.header--account--connected .header--account--type::before {
    background-color: #3CBC98;
}

.header--account--type {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
}

.header--selected {
    color: white;
    border: 0;

    svg {
        opacity: 1 !important;

        path {
            fill: white !important;
            stroke: white !important;
        }
    }
}

.header--mobile-menu--button {
    @extend .mobile-only;
    height: 100%;
    display: flex;
    align-items: center;

    button {
        background: none;
        border: none;
        color: white;
        font-size: 20px;
        min-width: 0;

        // Based on measurements for right side of menu
        margin-left: 22px+15px;

        @media(max-width: $max-xs) {
            margin-left: 22px;
        }
    }
}

.header--dropdown--accounts {
    width: 200px;
}

.header--group:not(.header--group--account) {
    @extend .no-mobile;
}

.transaction {
    margin-top: 10px;

    font-weight: 100;
    font-size: 14px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    div {
        margin-right: 10px;
    }

    >.lds-dual-ring::after {
        border-width: 1px;
    }

    a.transaction--hash {
        color: $blue-bright;
    }
}

.transaction+.transaction {
    margin-top: 0;
}

.header--account--spinner {
    margin-left: 10px;
}

.network--banner {
    box-shadow: $blue-darker 0px 10px 10px;
    top: 0;
    width: 100%;
    background-color: $red;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;

    .banner--bold {
        font-weight: 900;
        margin: 0 5px;
    }
}

.with-banner--main {
    .network--banner {
        background-color: $green;
        color: $blue-dark;
    }
}

.with-banner {
    .header {
        margin-top: 15px;
    }

    .popup--container {
        top: 15px;
    }

    .sidebar {
        top: 15px;
        height: calc(100vh - 15px);
    }
}