.statistic--row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    .statistic--row {
        margin-bottom: 20px;
    }
}

.stat {

    .hr {
        border-bottom: 1px solid #1A2E46;
        height: 1px;
        width: 100%;
        border-color: #1A2E46;
        margin-bottom: 15px;
        border-width: 1px;

        @media(min-width: $min-lg) {
            margin-bottom: 25px;
        }
    }

    flex-grow: 1;
    // min-width: 200px;
    margin-bottom: 10px;

    &:not(:last-child) {
        margin-right: 20px;
    }
}

.stat .stat,
.stat.stat--nested {
    .hr {
        border: none;
    }

    .stat--title {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1.5px;
        height: 28px;
        color: #F9F9F9;
        margin-bottom: 0px;
    }
}

.stat--title {
    font-size: 14px;

    line-height: 16px;
    font-weight: bold;

    /* identical to box height */
    letter-spacing: 1.75px;
    text-transform: uppercase;

    // max-width: 200px;

    color: #FFFFFF;
    display: flex;

    margin-bottom: 30px;
}

.stat--title--icon {
    margin-right: 10px;
}

.stat--highlight {
    background: #001327;
    // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    // Left
    padding-left: 20px;
    padding-right: 20px;
    // Top
    padding-top: 5px;
    margin-top: -5px;
    // Bottom
    margin-bottom: 0px;
}

.stat--children--big {
    font-size: 32px;
    line-height: 37px;
    color: #F9F9F9;

    @media(max-width: $max-md) {
        font-size: 28px;
    }

    .loading {
        // float: left;
        height: 38px;
    }

    .stat--children--diff {
        @extend .change-indicator;
        font-style: normal;
        font-weight: 500;
        font-size: 16.2px;
        line-height: 19px;
        margin-left: 10px;
    }
}

.change-indicator {
    &.positive {
        color: $green;

        &::after {
            content: "\25b2";
        }
    }

    &.negative {
        color: #FF4545;

        &::after {
            content: "\25bc";
            ;
        }
    }
}