.titled-block {
    background: $blue-dark;
    border-radius: 4px;
    margin-right: 0 !important;
    position: relative;
    overflow: hidden;

    .titled-block--close {
        margin-top: -5px !important;
        margin-right: -5px !important;
        padding: 10px;
    }

    .titled-block--top {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #001B3A;
        background: #002247;
        margin-bottom: 2px;
        padding: 20px 20px 0;

        >* {
            font-size: 16px;
            line-height: 18px;
            font-weight: 500;
            color: #F9F9F9;
            text-transform: none;
        }
    }

    .titled-block--bottom {
        background: #001F41;
        padding: 20px;
        height: 100%;
    }
}
