$off-white: #f8fafb;
$dark-grey: #3f3f41;
$light-grey: #cccccc; // #ccd1d7
// $mid-grey: #999999;
// $mid-grey: #99a6b5;
$mid-grey: #979797;

$green: #31CC9A;
$green: #3CBC98;
$red: #F45532;
$orange: #db6500;
$light-red: #F16262;

$navy: rgba(0, 28, 58, 1);

// $blue-bright: #106dd2;
$blue-bright: #006FE8;
$blue-dark: #002247;
$blue-darker: #001B3A;

$shadow: rgba(50, 94, 128, 0.2);
$border: rgba(88, 88, 91, 0.1);

$cubic-bezier: cubic-bezier(0.8, 0, 0.2, 1);

$path: 'images/';