name: CI

on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js environment
      uses: actions/setup-node@v2.1.0
    - name: Install dependencies
      run: yarn --skip-integrity-check
    - name: Verify dependencies
      run: yarn check --integrity
    - name: lint
      run: yarn lint
  # FIXME: get the tests to pass
  # test:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v2
  #   - name: Setup Node.js environment
  #     uses: actions/setup-node@v2.1.0
  #   - name: Install dependencies
  #     run: yarn --network-concurrency 1 || yarn install --network-concurrency 1 && cd ./node_modules/darknode-sol && yarn --network-concurrency 1
  #   - name: Test
  #     run: cd ./node_modules/darknode-sol && (yarn ganache-cli -d  > /dev/null &) && sleep 5 && yarn truffle migrate && cd ../../ && yarn run test
